<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Filming</span>
      <span class="example-spacer"></span>
      <button mat-icon-button routerLink="">
        <mat-icon aria-label="My Favorites">search</mat-icon>
      </button>
      <button mat-icon-button routerLink="/favorites">
        <mat-icon aria-label="My Favorites">favorite</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card class="card-container">
    <router-outlet></router-outlet>
</mat-card>
