<div class="container" fxLayout="row"  fxLayoutAlign="center none">
    <mat-card  class="card-picture" *ngFor="let movie of favorites">
      <a routerLink="/movies/{{movie.imdbID}}">        
        <mat-card-header>          
          <mat-card-title><h3 class="title">{{movie.Title}}</h3></mat-card-title>
          <mat-card-subtitle>Year: {{movie.Year}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{movie.Poster != 'N/A'? movie.Poster : '/assets/no-image.jpg'}}" alt={{movie.Title}}>  
      </a>
      <mat-card-actions align='end' style="margin-top: auto; align-self: flex-end;">
          <button mat-icon-button color="accent" (click)="removeFromFavorites(movie.imdbID)">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </button>
      </mat-card-actions>
    </mat-card>
</div>
